@import "_variables";
@import "_fonts";

#confirmation-form {
  font-family: $main-font;
  text-align: center;

  h1 {
    border: 1px solid black;
    border-radius: 10px;
    font-family: $header-font;
    width: 50%;
    margin: 1em auto;
  }

  p {
    margin: 1em;
  }

  #home-btn {
    display: block;
    margin: 3em auto;
    width: 9em;
    padding: 1.2em;
    background-color: $primary-color;
    text-align: center;
    border-radius: 5px;
    color: $secondary-color;
    border: none;
    text-align: center;
  }
}