
$header-font: 'Sarala', sans-serif;
$main-font: 'Dosis', sans-serif;
$primary-color: #DB700A;
$secondary-color: #FFFFFF;

#submit-btn {
  display: inline-block;
  margin: .5em auto;
  width: 10em;
  padding: 1.2em;
  background-color: $primary-color;
  text-align: center;
  border-radius: 5px;
  color: $secondary-color;
  border: none;
}

.home-link {
  display: inline-block;
  margin-left: .5em;

  button {
    width: 10em;
    padding: 1.15em;
    border: none;
    border-radius: 5px;
    color: $secondary-color;
  }
}

#modal-wrapper {

  .modal {
      position: fixed; /* Stay in place */
      display: block;
      z-index: 2; /* Sit on top */
      top: 0;
      width: 96.5%; /* Full width */
      height: 95.5%; /* Full height */
      overflow: scroll; /* Enable scroll if needed */
      margin: 2% 2.5% 2% 2%;
      // margin: 0 auto;
      border-radius: 5px;
      background: rgba(255,255,255,.95);
      transition: all 1s;

      .close-btn {
        position: absolute;
        right: .5em;
        font-size: 1.5em;
      }

      .close-btn:hover {
        cursor: pointer;
      }
  }

  #payment-form-modal {

    hr {
      color: white;
    }

    .input-form {
      display: block;
      height: 3em;
      width: 95%;
      margin: 1em 0;
    }

    .expiry-input {
      width: 31.67%;
      height: 3em;
    }

    .num-ticket {
      margin: 1em 0;
    }

    #input-qty {
      height: 3em;
      width: 2.5em;
      text-align: center;
    }

    #plus-btn,
    #less-btn {
      font-size: 1.2em;
      vertical-align: middle;
      border: 1px dashed black;
      padding: 3px 8px 5px;
      margin: 0 0.4em;
      cursor: pointer;
      border-radius: 10px;
      box-shadow: .2px .2px .2px;
      // disable text selection on double click
      -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Chrome/Safari/Opera */
           -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently not supported by any browser */
    }

    #plus-btn:hover {
      box-shadow: 0px 0px 0px;
    }
    #less-btn:hover {
      box-shadow: 0px 0px 0px;
    }

    .num-input {
      margin: 0 0 2em 0;
    }

    #payment-form {
      font-family: $main-font;
      width: 95%;
      margin: 0 auto;
      margin-top: 3em;
    }

    #confirmation-form {
      font-family: 'Dosis', sans-serif;
      width: 95%;
      margin: 0 auto;
      margin-top: 3em;

      h1 {
        font-size: 1.2em;
        margin: 1em auto;
      }

      p {
        margin: 0.6em auto;
      }
    }

    #home-btn {
      display: inline-block;
      margin: .5em auto;
      width: 10em;
      padding: 1.2em;
      background-color: $primary-color;
      text-align: center;
      border-radius: 5px;
      color: $secondary-color;
      border: none;
    }
  }
}

.loader-wrapper {

  h2 {
    text-align: center;
    font-size: 2em;
    font-family: $header-font;
    margin-top: 1.5em;
    color: $primary-color;
  }
}

.loader,
.loader:before,
.loader:after {
  background: $primary-color;
  animation: spinner .9s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  display: block;
  color: $primary-color;
  margin: 0 auto;
  position: relative;
  transform: translateZ(0);
  animation-delay: -0.16s;
  z-index: 1;
  top: 15em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}

@keyframes spinner {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
