
$header-font: 'Sarala', sans-serif;
$main-font: 'Dosis', sans-serif;
$primary-color: #DB700A;
$secondary-color: #FFFFFF;


#modal-wrapper {
  margin: 0 auto;

  width: 77%;

  .modal {
      position: fixed; /* Stay in place */
      display: block;
      z-index: 1; /* Sit on top */
      top: 0;
      width: 96.5%; /* Full width */
      height: 95.5%; /* Full height */
      overflow: scroll; /* Enable scroll if needed */
      background-color: $secondary-color; /* Black w/ opacity */
      margin: 2% 2.5% 2% 2%;
      // margin: 0 auto;
      border-radius: 5px;

      .close-btn {
        position: fixed;
        top: 2.2em;
        right: 6.4em;
        font-size: 1.5em;
      }

      .close-btn:hover {
        cursor: pointer;
      }
  }

  #payment-form-modal {

    margin: 38px auto 20px;
    padding: 60px;
    width: 76%;
    height: 90%;

    .input-form {
      display: block;
      height: 2.5em;
      width: 14em;
      margin: 1em 0;
      // border: 0 0 1px 0;
    }

    .num-ticket {
      margin: 1em 0;
    }

    .num-input {
      margin: 1em 0;
    }

    #payment-form {
      font-family: 'Dosis', sans-serif;
      width: 80%;
      margin: 0 auto;
      // text-align: center;
    }
  }
}

.loader,
.loader:before,
.loader:after {
  background: $primary-color;
  animation: spinner .9s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: $primary-color;
  margin: 0 auto;
  position: absolute;
  transform: translateZ(0);
  animation-delay: -0.16s;
  z-index: 1;
  left: 13em;
  top: 15em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}

@keyframes spinner {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
