@import "_variables";
@import "_fonts";

.location-wrapper {
    width: 100%;
    height: 100%;
    background-color: $secondary-color;

    .location-top {
      width: 100%;
      height: 40%;
      text-align: center;
      font-weight: bold;
      background-color: $secondary-color;

      h1 {
        font-size: 2.5em;
        text-align: center;
        font-family: $header-font;
      }
    }

    .location-bottom {
      width: 100%;
      height: 60%;
      padding: 3em;

      #map {
        width: 100%;
        height: 100%;
        background-color: grey;
      }
    }

}
