@media (min-width: 500px) {

  .footer-wrapper {
    padding-top: 14%;

    #cloud {
      height: 55%;
      font-size: 2.7em;
    }

    .footer-content {
      width: 100%;
      height: 95%;
      margin-bottom: 2em;

      h2 {
        font-size: 3em;
      }

      p {
        font-size: 1.5em;
      }

      img {
        padding: .5em;
        margin: .5em;
        width: 5em;
        vertical-align: middle;
      }
    }
  }

  .speaker-wrapper {
    padding-top: 9%;
  }

  .home-wrapper {

    .home-main {

      .home-nav {

        .nav-ticket-btn {
          padding: 1%;
        }

        ul li {
          padding: 0;
          margin: .5em;
          width: 20%;
        }
      }

      .home-top-wrapper {
        padding: 15% 20% 2% 20%;

        h1 {
          margin-bottom: 0em;
        }
      }

      .home-middle-wrapper {

        .home-middle-location {
          font-size: 2em;

        }
      }
    }
  }
}

@media (min-width: 700px) {

  .footer-wrapper {
    padding-top: 8%;

    #cloud {
      font-size: 4em;
    }
  }

  #modal-wrapper .modal {
    width: 685px;
    margin: 2% auto;
    left: 0;
    right: 0;
  }

  .speaker-wrapper {
    padding-top: 9%;

    .speaker-list {
      margin-top: 10%;
    }
  }

  .sponsors-wrapper {
    padding-top: 5%;

    .sponsors-list {
      width: 685px;
      margin: 2% auto;
    }
  }

  .location-wrapper {
    padding-top: 9%;

    .location-bottom {
      width: 700px;
      margin: 0 auto;
    }
  }

  .home-wrapper {

    .home-main {

      .home-nav {

        ul li {
          width: 22.5%;
        }
      }

      .home-top-wrapper {
        padding: 10% 20% 2% 20%;

        h1 {
          font-size: 5em;
          margin-bottom: 0em;
        }
      }
    }
  }
}

@media (min-width: 860px) {
  .speaker-wrapper {
    padding-top: 10vh;

    .speaker-list {
      margin-top: 10vh;
    }
  }
}
