@import "_variables";
@import "_fonts";

.speaker-wrapper {
  width: 100%;
  height: 100%;
  background: inherit;

  h1 {
    font-size: 2.5em;
    text-align: center;
    font-family: $header-font;
  }

  .speaker-list {
    width: 95%;
    height: 85%;
    display: block;
    position: absolute;
    margin: 17.5% 2.5% 2.5% 2.5%;
    padding: 2.5%;

    .speaker-card {
      width: 95%;
      border-bottom: .5px solid #FFFEFC;
      transition: 1s;
      position: static;
      background-color: $primary-color;

      h2 {
        width: 70%;
        display: inline-block;
        font-size: 1.2em;
        color: white;
      }

      .res-bio {
        background-color: $secondary-color;

        li {
          list-style: none;
        }
      }

      .img-card {
        width: 30%;
        display: inline-block;
        vertical-align: middle;

        img {
          width: 3.5em;
          display: inline-block;
          border-radius: 100%;
          margin: .5em;
          border: 2px solid $secondary-color;
          transition: 1s;
        }
      }
    }
    .speaker-card:hover {
      width: 98%;
      height: 6em;

      img {
        width: 4.5em;
      }
    }
  }
}
