@import "_variables";
@import "_fonts";

.speaker-wrapper {
  width: 100%;
  height: 100%;
  background-color: $secondary-color;

  h1 {
    font-size: 2.5em;
    text-align: center;
    font-family: $header-font;
  }

  .speaker-list {
    width: 95%;
    height: 85%;
    display: block;
    position: absolute;
    background-color: $primary-color;
    margin: 17.5% 2.5% 2.5% 2.5%;
    padding: 2.5%;

    .speaker-card {
      height: 19%;
      width: 95%;
    }

    .pic {
      height: 108px;
      float: right;
      border-radius: 100%;
      border: 3px solid #5F9F9F;
      margin-top: -20px;
    }
  }
}
