@import "_variables";
@import "_fonts";

.sponsors-wrapper {
  width: 100%;
  height: 100%;
  background-color: $primary-color;

  .sponsors-list {
    width: 95%;
    height: 95%;
    display: block;
    position: absolute;
    background-color: $secondary-color;
    margin: 3.5% 2.5% 1.5% 2.5%;
    padding: 2.5%;

    h2 {
      font-size: 2.5em;
      text-align: center;
      font-family: $header-font;
    }
  }

}
