@import "_variables";
@import "_fonts";

.sponsors-wrapper {
  width: 100%;
  height: 100%;
  background: inherit;

  .sponsors-list {
    width: 95%;
    height: 95%;
    display: block;
    position: absolute;
    background-color: $secondary-color;
    margin: 3.5% 2.5% 1.5% 2.5%;
    padding: 2.5%;

    h2 {
      font-size: 2.5em;
      text-align: center;
      font-family: $header-font;
    }

    img {
      display: block;
      margin: 1.5em auto;
      max-width: 17em;
      -webkit-filter: grayscale(100%) opacity(50%);
      filter: grayscale(100%) opacity(50%);
      -webkit-transition: all .6s ease;
      transition: all .6 ease;
    }

    img:hover {
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
      filter: none;
      -webkit-animation: tada 1s;
      animation: tada 1s;
    }
  }

}
